@{
    ViewData["Title"] = "UpdateFA";
}

<div class="container">
    <div class="row justify-content-center">

        <div class="col-xl-12 col-lg-12 col-md-12">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">

                        <div class="col-lg-12">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Fatura Kayıt Güncelleme Formu</h1>
                                </div>

                                <form class="user" method="post">

                                    <div class="form-group col-12">


                                        <div class="form-group col-md-6 float-right">
                                            <label class="col-form-label col-4 float-left">Fatura Tipi:</label>

                                            <div class="col-8 float-right">
                                                <select class="form-control custom-select" id="FAType" name="FAType" required>
                                                    <option value="@Model.FA.FAType" selected>Seçiniz...</option>
                                                    <option value="Elektrik">Elektrik</option>
                                                    <option value="Su">Su</option>
                                                    <option value="Doğalgaz">Doğalgaz</option>
                                                    <option value="Aidat">Aidat</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group col-md-6 float-left">
                                            <label class="col-form-label col-4 float-left">Kullanıcı:</label>

                                            <div class="col-8 float-left">
                                                <select class="form-control custom-select" id="userId" name="UserId">
                                                    <option selected value="@Model.FA.UserId">Seçiniz...</option>
                                                    @foreach (var item in @Model.Users)
                                                    {
                                                        <option value="@item.id">@item.FirstName @item.LastName</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="form-group col-12">

                                        <div class="form-group col-md-6 float-left">
                                            <label class="col-form-label col-4 float-left">Fatura Tutarı:</label>
                                            <input type="number" class="form-control form-control-user col-8 float-right"
                                                   id="Amount" aria-describedby="AmountHelp" name="Amount"
                                                   placeholder="örn. 250" value="@Model.FA.Amount">
                                        </div>

                                        <div class="form-group col-md-6 float-right">
                                            <label class="col-form-label col-4 float-left">Fatura Durumu:</label>

                                            <div class="col-8 float-right">
                                                <select class="form-control custom-select" id="faStatus" name="Status">
                                                    <option value="@Model.FA.Status" selected>Seçiniz...</option>
                                                    <option value="False">Pasif</option>
                                                    <option value="True">Aktif</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>



                                    <div class="form-group col-12" data-provide="datepicker">
                                        <div class="form-group col-md-6 float-left">
                                            <label class="col-form-label col-4 float-left">Son Ödeme Tarihi:</label>

                                            <div class="form-group col-md-6 float-left " id="datepicker">
                                                <div class="input-group date">
                                                    <input type="text" value="@Model.FA.DueDate" class="form-control form-control col-8 float-right" name="DueDate" required />
                                                    <div class="input-group-addon input-group-append">
                                                        <div class="input-group-text">
                                                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <button type="submit" class="btn btn-primary btn-user btn-block " style="width: 250px;margin: 0 auto;font-size: medium;">
                                        Kaydet
                                    </button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

