
@{
    ViewData["Title"] = "UpdateHousing";
}

<div class="container">
    <div class="row justify-content-center">

        <div class="col-xl-12 col-lg-12 col-md-12">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">

                        <div class="col-lg-12">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Daire Kayıt Güncelleme Formu</h1>
                                </div>

                                <form class="user" method="post">

                                    <div class="form-group col-12">

                                        <div class="form-group col-md-6 float-right">
                                            <label class="col-form-label col-4 float-left">Blok No:</label>

                                            <div class="col-8 float-right">
                                                <select class="form-control custom-select" id="BlockNumber" name="BlockNumber">
                                                    <option value="@Model.Housing.BlockNumber" selected>Seçiniz...</option>
                                                    <option value="A1">A1</option>
                                                    <option value="A2">A2</option>
                                                    <option value="A3">A3</option>
                                                    <option value="B1">B1</option>
                                                    <option value="B2">B2</option>
                                                    <option value="B3">B3</option>
                                                    <option value="B4">B4</option>
                                                    <option value="B5">B5</option>
                                                    <option value="B6">B6</option>
                                                    <option value="B7">B7</option>
                                                    <option value="C1">C1</option>
                                                    <option value="C2">C2</option>
                                                    <option value="C3">C3</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group col-md-6 float-left">
                                            <label class="col-form-label col-4 float-left">Kullanıcı:</label>

                                            <div class="col-8 float-left">
                                                <select class="form-control custom-select" id="userId" name="UserId">
                                                    <option value="@Model.Housing.UserId" selected>Seçiniz...</option>
                                                    @foreach (var item in @Model.Users)
                                                    {
                                                        <option value="@item.id">@item.FirstName @item.LastName</option>
                                                    }
                                                    @*<option value="832179d8-5c1e-4ec7-f95c-08da843c834d">Kaan Baş</option>
                                                    <option value="5983a496-df75-4f37-0869-08da84d710fa">Deniz Toprak</option>
                                                    <option value="832179d8-5c1e-4ec7-f95c-08da843c838d">Anıl Demir</option>*@
                                                </select>
                                                @*<span asp-validation-for="FirstName" class="text-danger float-right" ></span>*@
                                            </div>
                                        </div>

                                    </div>


                                    <div class="form-group col-12">

                                        <div class="form-group col-md-6 float-left">
                                            <label class="col-form-label col-4 float-left">Daire No:</label>

                                            <div class="col-8 float-right">
                                                <select class="form-control custom-select" id="HousNumber" name="HousNumber">
                                                    <option value="@Model.Housing.HousNumber" selected>Seçiniz...</option>
                                                    @for (var i = 1; i < 53; i++)
                                                    {
                                                        <option value="@i">@i</option>
                                                    }

                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group col-md-6 float-right">

                                            <label class="col-form-label col-4 float-left">Kat No:</label>

                                            <div class="col-8 float-right">
                                                <select class="form-control custom-select" id="FloorNumber" name="FloorNumber">
                                                    <option value="@Model.Housing.FloorNumber" selected>Seçiniz...</option>
                                                    @for (var i = 0; i < 12; i++)
                                                    {
                                                        <option value="@i">@i</option>
                                                    }

                                                </select>
                                            </div>
                                            @*<label class="col-form-label col-4 float-left">Kat No:</label>
                                            <input type="number" class="form-control form-control-user col-8 float-right"
                                            id="FloorNumber" aria-describedby="FloorNumberHelp"
                                            placeholder="örn. 4" name="FloorNumber">*@
                                        </div>

                                    </div>



                                    <div class="form-group col-12">
                                        <div class="form-group col-md-6 float-left ">
                                            <label class="col-form-label col-4 float-left">Daire Durumu:</label>

                                            <div class="col-8 float-right">
                                                <select class="form-control custom-select" id="housingStatus" name="Status">
                                                    <option value="@Model.Housing.Status" selected>Seçiniz...</option>
                                                    <option value="False">Pasif</option>
                                                    <option value="True">Aktif</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group col-md-6 float-right">
                                            <label class="col-form-label col-4 float-left">Daire Tipi:</label>

                                            <div class="col-8 float-right">
                                                <select class="form-control custom-select" id="HousType" name="HousType">
                                                    <option value="@Model.Housing.HousType" selected>Seçiniz...</option>
                                                    <option value="1+1">1+1</option>
                                                    <option value="2+1">2+1</option>
                                                    <option value="3+1">3+1</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <button type="submit" class="btn btn-primary btn-user btn-block " style="width: 250px;margin: 0 auto;font-size: medium;">
                                        Kaydet
                                    </button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

