@{
    ViewData["Title"] = "Index";
}


<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h1 class="m-0 font-weight-bold text-primary" style="float:left;">Kullanıcılar</h1>
            <a class="btn btn-success"  style="float:right;" asp-action="NewUser" asp-controller="UserAdmin">Yeni Kullanıcı Ekle</a>  
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Kullanıcı Adı</th>
                            <th>TC Numarası</th>
                            <th>Email</th>
                            <th>Telefon Numarası</th>
                            <th>Daire Durumu</th>
                            <th>Kullanıcı Durumu</th>
                            <th>Kullanıcı Rolü</th>
                            <th>Kayıt Tarihi</th>
                            <th>Güncellenme Tarihi</th>
                            <th>Düzenle</th>
                            <th>Sil</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Ad</th>
                            <th>TC Numarası</th>
                            <th>Email</th>
                            <th>Telefon Numarası</th>
                            <th>Daire Durumu</th>
                            <th>Kullanıcı Durumu</th>
                            <th>Kullanıcı Rolü</th>
                            <th>Kayıt Tarihi</th>
                            <th>Güncellenme Tarihi</th>
                            <th>Düzenle</th>
                            <th>Sil</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in @Model)
                        {                           
                            <tr>
                                <td>@item.FirstName @item.LastName</td>
                                <td>@item.TCNumber</td>
                                <td>@item.Email</td>
                                <td>@item.PhoneNumber</td>
                                @if (@item.HousingStatus)
                                {
                                    <td>Ev Sahibi</td>
                                }else{
                                    <td>Kiracı</td>
                                }
                                @if (@item.Status)
                                {
                                    <td>Aktif</td>
                                }else{
                                    <td>Pasif</td>
                                }
                                @if (@item.UserRole)
                                {
                                    <td>Admin</td>
                                }else{
                                    <td>Kullanıcı</td>
                                }                                
                                <td>@item.CreatedDate</td>
                                <td>@item.UpdatedDate</td>
                                <td >
                                    <a class="btn btn-warning" style="color:black;" asp-action="UpdateUser" asp-controller="UserAdmin" asp-route-id = "@item.id"><i class="fa fa-pencil-alt" aria-hidden="true"></i></a>                                    
                                </td>
                                <td>
                                    <a class="btn btn-danger" style="color:whitesmoke;" asp-action="DeleteUser" asp-controller="UserAdmin" asp-route-id = "@item.id" ><i class="fa fa-trash" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>