@model EntityLayer.Entities.User;
@{
    ViewData["Title"] = "UpdateUser";
}

 <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-12 col-lg-12 col-md-12">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            @*<div class="col-lg-6 d-none d-lg-block bg-login-image"></div>*@

                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Kullanıcı Kayıt Güncelleme Formu</h1>
                                    </div>

                                    <form class="user" method="post">

                                        <div class="form-group col-12">
                                            <div class="form-group col-md-6 float-left">
                                                <label class="col-form-label col-4 float-left">Ad:</label>
                                                <input type="text" class="form-control form-control-user col-8 float-right"
                                                       id="firstName" aria-describedby="firstNameHelp"
                                                       placeholder="örn. Kaan" value="@Model.FirstName" name="FirstName">
                                                       <span asp-validation-for="FirstName" class="text-danger float-right" ></span>
                                            </div>

                                            <div class="form-group col-md-6 float-right">
                                                <label class="col-form-label col-4 float-left">Soyad:</label>
                                                <input type="text" class="form-control form-control-user col-8 float-right"
                                                       id="lastName" aria-describedby="lastNameHelp"
                                                       placeholder="örn. Baş" value="@Model.LastName" name="LastName">
                                                       <span asp-validation-for="LastName" class="text-danger float-right" ></span>
                                            </div>

                                        </div>


                                        <div class="form-group col-12">
                                            <div class="form-group col-md-6 float-left">
                                                <label class="col-form-label col-4 float-left">TC No:</label>
                                                <input type="text" class="form-control form-control-user col-8 float-right"
                                                       id="tcNumber" aria-describedby="tcNumberHelp"
                                                       placeholder="örn. 57492237278" value="@Model.TCNumber" name="TCNumber">
                                                       <span asp-validation-for="TCNumber" class="text-danger float-right" ></span>
                                            </div>

                                            <div class="form-group col-md-6 float-right">
                                                <label class="col-form-label col-4 float-left">Email:</label>
                                                <input type="email" class="form-control form-control-user col-8 float-right"
                                                       id="email" aria-describedby="emailHelp"
                                                       placeholder="örn. abc@abc.com" value="@Model.Email" name="Email">
                                                       <span asp-validation-for="Email" class="text-danger float-right" ></span>
                                            </div>
                                        </div>



                                        <div class="form-group col-12">
                                            <div class="form-group col-md-6 float-left">
                                                <label class="col-form-label col-4 float-left">Telefon No:</label>
                                                <input type="text" class="form-control form-control-user col-8 float-right"
                                                       id="phoneNumber" aria-describedby="phoneNumberHelp"
                                                       placeholder="örn. 0537 651 25 89" value="@Model.PhoneNumber" name="PhoneNumber">
                                                       <span asp-validation-for="PhoneNumber" class="text-danger float-right" ></span>
                                            </div>

                                            <div class="form-group col-md-6 float-right">
                                                <label class="col-form-label col-4 float-left">Daire Durumu:</label>

                                                <div class="col-8 float-right">
                                                    <select class="form-control custom-select" id="housingStatus" name="HousingStatus">
                                                        <option selected value="@Model.HousingStatus">Seçiniz...</option>
                                                        <option value="False">Kiracı</option>
                                                        <option value="True">Ev Sahibi</option>
                                                    </select>
                                                    <span asp-validation-for="HousingStatus" class="text-danger float-right" ></span>
                                                </div>
                                            </div>
                                        </div>




                                        <div class="form-group col-12">
                                            <div class="form-group col-md-6 float-right">
                                                <label class="col-form-label col-4 float-left">Kullanıcı Durumu:</label>

                                                <div class="col-8 float-right">
                                                    <select class="form-control custom-select" id="userStatus" name="Status">
                                                        <option selected value="@Model.Status">Seçiniz...</option>
                                                        <option value="False">Pasif</option>
                                                        <option value="True">Aktif</option>
                                                    </select>
                                                    <span asp-validation-for="Status" class="text-danger float-right" ></span>
                                                </div>
                                            </div>

                                            <div class="form-group col-md-6 float-left">
                                                <label class="col-form-label col-4 float-left">Kullanıcı Rolü:</label>

                                                <div class="col-8 float-right">
                                                    <select class="form-control custom-select" id="userRole" name="UserRole">
                                                        <option selected value="@Model.UserRole">Seçiniz...</option>
                                                        <option value="False">Kullanıcı</option>
                                                        <option value="True">Yönetici</option>
                                                    </select>
                                                    <span asp-validation-for="UserRole" class="text-danger float-right" ></span>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <br />
                                        <br />
                                        <br />
                                        <br />
                                        <br />
                                        <br />
                                        <br />
                                        <br />
                                        <br />
                                        <br />                                        
                                        <button type="submit" class="btn btn-primary btn-user btn-block " style="width: 250px;margin: 0 auto;font-size: medium;">
                                            Kaydet
                                        </button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

